/**{
	border: 1px solid blue;
}*/

.everything{
	max-width: 600px;
	margin: 0 auto;

}

.head{
	width: 100%;
	font-size: 14px;
}

h2{
	display: inline-block;
}

.main{
	height: 400px;
	width: 600px;
	position: relative;
	background-image: url('ripples.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/*.row{
	display: flex;
	flex-wrap: nowrap;
	width: 500px;
	margin: 0 auto;
}*/

.box{
	display: inline-block;
	font-size: 60px;
	border-radius: 50%;
	text-align: center;
	color: #4a4646;
/*	margin: 0 auto;*/
	background-size: contain;
	padding: 10px;
	background-color: pink;
	visibility: visible;
	opacity: 1;
	transition: visibility .8s, opacity .8s ease-in-out;
}

.floating-text{
	font-size: 40px;
	border-radius: 50%;
	background-color: pink;
	visibility: visible;
	opacity: 1;
	transition: visibility 1s, opacity 1s ease-in-out;
	min-width: 50px;
	min-height: 50px;
}

/*#box:onclick{
	opacity: 0;
	visibility: hidden;
}*/