*{
	border: 1px solid blue;
}

.everything{
	max-width: 600px;
	margin: 0 auto;
}

.head{
	width: 100%;
}

h2{
	display: inline-block;
}

.main{
	height: 400px;
	width: 600px;
	position: relative;
}

/*.row{
	display: flex;
	flex-wrap: nowrap;
	width: 500px;
	margin: 0 auto;
}*/

.box{
	display: inline-block;
	font-size: 60px;
	border-radius: 50%;
	text-align: center;
/*	margin: 0 auto;*/
	background-size: contain;
	padding: 10px;
	background-color: pink;
	visibility: visible;
	opacity: 1;
	transition: visibility .25s, opacity .25s ease-in-out;
}

/*#box:onclick{
	opacity: 0;
	visibility: hidden;
}*/